/* ---------------------------------------colours */

body{
    background-color: #0c0b10;
}

p{
    font-family: Montserrat;
    color: rgb(255, 255, 255);
}

.dark-background{
    background-color: rgba(44, 44, 44, 0.836);
}

/* ---------------------------------------buttons */