

/* ---------------------------------------colours */

 /* .opaque-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    
}   */

.navbar.trigger {
    transition: 750ms ease;
    background: rgb(17 17 17)  !important;
}


body{
    background-color: rgb(17 17 17);
}

.bgdark{
    background-color:rgb(17 17 17) !important;
}


.p-dark{
    color: white !important;

}

.blue{
    color: #6200EE ;
}

.p-darker{
    color: rgba(253, 253, 253, 0.62)  !important;
    font-weight: 300;
}


.navbar-toggler-icon{
    color: rgb(255, 255, 255) !important;
}

.lightdark{
    background-color: rgba(255, 255, 255, 0.02);
}



.name{
    color:  rgb(187, 187, 187) !important;
}

.email{
    color:   rgb(187, 187, 187) !important;
}

.textarea{
    color:  rgb(187, 187, 187) !important;
}


/* ---------------------------------------buttons */

.bluebtn{
    background-color: #6200EE ;
    border: solid 2px #6200EE;
    color: black;
}

.bluebtn:hover{
    border: solid 2px #6200EE;
    color: #6200EE;
}

.redbtn{
    background-color: #b00020 ;
    border: solid 2px #b00020;
    color: rgb(0, 0, 0);
}

.redbtn:hover{
    border: solid 2px #b00020;
    color: #b00020;
}

.greenbtn{
    background-color: #03dac6 ;
    border: solid 2px #03dac6;
    color: rgb(0, 0, 0);
}

.greenbtn:hover{
    border: solid 2px #03dac6;
    color: #03dac6;
}

.purplebtn{
    background-color: #bb86fc ;
    border: solid 2px #bb86fc;
    color: rgb(0, 0, 0);
}

.purplebtn:hover{
    border: solid 2px #bb86fc;
    color: #bb86fc;
}

.bluebr{
    border-bottom:solid 3px #6200EE;
    color: rgb(37, 37, 37);
}


.redbr{
   
    border: solid 3px #b00020;
    color: rgb(37, 37, 37);;
}


.greenbr{
    
    border: solid 3px #03dac6;
    color: rgb(37, 37, 37);;
}


.purplebr{
   
    border: solid 3px #bb86fc;
    color: rgb(37, 37, 37);;
}

/* ---------------------------------------imgs */

.callout-container {
    height: 100vh;

    background: url("C:/code institute/customise/Customise/assets/img/VECTEEZY_BLACK_BACKGROUND_PS1120.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    z-index: 1;
}


@media (min-width: 200px) {

    /* ---------------------------------------nav sm*/
    .secondarybgdark{
        background-color:rgb(17 17 17) !important;
    }

    .secondarybgdarkbutton{
        background-color:rgb(17 17 17) !important;
    }

}

@media (min-width: 570px) {

    /* ---------------------------------------nav md*/
    .secondarybgdark{
        background-color: transparent !important;
    }

    .secondarybgdarkbutton{
        background-color:transparent;
    }
}
