

/* ---------------------------------------colours */
body{
    background-color: white;
}

.bglight{
    background-color:#ffffff !important;
}


.p-light{
    color: rgb(32, 32, 32)  !important;
}

.p-lighter{
    color: rgba(32, 32, 32, 0.452)  !important;
}

.blue{
    color: #6200EE ;
}

.navbar-toggler-icon{
    color: black !important;
}


/* ---------------------------------------buttons */

.bluebtn{
    background-color: #6200EE ;
    border: solid 2px #6200EE;
    color: white;
}

.bluebtn:hover{
    border: solid 2px #6200EE;
    color: #6200EE;
}

.redbtn{
    background-color: #b00020 ;
    border: solid 2px #b00020;
    color: white;
}

.redbtn:hover{
    border: solid 2px #b00020;
    color: #b00020;
}

.greenbtn{
    background-color: #03dac6 ;
    border: solid 2px #03dac6;
    color: white;
}

.greenbtn:hover{
    border: solid 2px #03dac6;
    color: #03dac6;
}

.purplebtn{
    background-color: #bb86fc ;
    border: solid 2px #bb86fc;
    color: white;
}

.purplebtn:hover{
    border: solid 2px #bb86fc;
    color: #bb86fc;
}


/* ---------------------------------------imgs */

.callout-container {
    height: 100vh;

    background: url("C:/code institute/customise/Customise/assets/img/White Background.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    z-index: 1;
}


@media (min-width: 200px) {
    .secondarybglight{
        background-color:#ffffff !important;
    }
}

@media (min-width: 570px) {
    .secondarybglight{
        background-color:#ffffff00 !important;
    }
}

